USE [TenebrosaOLTP]
GO
/****** Objeto: Table [dbo].[DOCUMENTO] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTO](
	[Documento] [char](9) NOT NULL,
	[TipoDoc] [char](1) NOT NULL,
	[Proveedor] [char](4) NULL,
	[Pedido] [char](9) NULL,
	[Cliente] [char](4) NULL,
	[Fecha] [datetime] NOT NULL,
	[Estado] [char](1) NOT NULL,
	[DocRefer] [char](9) NULL,
	[Personal] [char](2) NULL,
	[pagado] [decimal](9, 2) NOT NULL,
	[IdTienda] [char](2) NOT NULL,
	[FormaPago] [char](1) NULL,
	[Hora] [datetime] NULL,
 CONSTRAINT [PK_DOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[Documento] ASC,
	[TipoDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DETADOC] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETADOC](
	[Documento] [char](9) NOT NULL,
	[TipoDoc] [char](1) NOT NULL,
	[Producto] [char](4) NOT NULL,
	[Cantidad] [decimal](9, 2) NOT NULL,
	[Igv] [decimal](9, 2) NOT NULL,
	[PrecUnit] [decimal](9, 2) NOT NULL,
 CONSTRAINT [PK_DETADOC] PRIMARY KEY CLUSTERED 
(
	[Documento] ASC,
	[TipoDoc] ASC,
	[Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[v_Documento] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_Documento]
as

SELECT d1.Documento , d1.fecha, d1.Cliente, d1.Personal, d1.Estado ,  d1.pagado , SUM(dd1.Cantidad *dd1.PrecUnit ) as Monto
FROM DOCUMENTO d1 INNER JOIN DETADOC as dd1 ON d1.Documento = dd1.Documento 
and d1.TipoDoc = dd1.TipoDoc 
GROUP BY d1.Documento , d1.fecha, d1.Cliente, d1.Personal, d1.Estado ,  d1.pagado 
GO
/****** Objeto: Table [dbo].[CRONOGRAMA] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRONOGRAMA](
	[NroCuota] [int] NOT NULL,
	[Documento] [char](9) NOT NULL,
	[TipoDoc] [char](1) NOT NULL,
	[Importe] [decimal](9, 2) NOT NULL,
	[Interes] [decimal](9, 2) NOT NULL,
	[IgvInteres] [decimal](9, 2) NOT NULL,
	[feVence] [datetime] NOT NULL,
	[Fepago] [datetime] NULL,
	[estado] [char](1) NOT NULL,
	[idMedioPago] [char](2) NULL,
	[idPuntoPago] [char](2) NULL,
	[idBanco] [char](2) NULL,
 CONSTRAINT [PK_cronograma] PRIMARY KEY CLUSTERED 
(
	[NroCuota] ASC,
	[Documento] ASC,
	[TipoDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[v_cronograma] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[v_cronograma]
as
select documento, tipodoc, SUM(importe) AS Programado, SUM(case when estado='C' THEN importe else 0 end) as cancelado
FROM cronograma 
group by documento, tipodoc
GO
/****** Objeto: Table [dbo].[PRODUCTO] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[Producto] [char](4) NOT NULL,
	[Marca] [char](2) NOT NULL,
	[Descripcion] [varchar](80) NOT NULL,
	[StockAc] [int] NOT NULL,
	[StockMax] [int] NOT NULL,
	[StockMin] [int] NOT NULL,
	[PrecVenta] [decimal](9, 2) NOT NULL,
	[PrecCosto] [decimal](9, 2) NOT NULL,
	[Peso] [decimal](9, 2) NOT NULL,
	[ConIgv] [bit] NOT NULL,
	[UniMed] [char](6) NOT NULL,
	[idProducto] [int] NULL,
	[idProd] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CLIENTE] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[Cliente] [char](4) NOT NULL,
	[Zona] [char](2) NOT NULL,
	[Ruc] [char](11) NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Direccion] [varchar](50) NULL,
	[Saldo] [decimal](9, 2) NOT NULL,
	[credito] [bit] NOT NULL,
	[topeCredito] [decimal](9, 2) NOT NULL,
	[TipoCliente] [char](1) NOT NULL,
	[Calificacion] [char](1) NULL,
	[idRepresentante] [int] NOT NULL,
	[genero] [char](1) NOT NULL,
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[v_Ventas] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_Ventas]
AS
SELECT     CLIENTE.Cliente, CLIENTE.Zona, CLIENTE.Nombre, 
CLIENTE.TipoCliente, DOCUMENTO.Fecha, DOCUMENTO.pagado, 
DOCUMENTO.Personal, PRODUCTO.Producto, PRODUCTO.Marca, 
PRODUCTO.Descripcion, sum(DETADOC.Cantidad) as TotCantidad,
SUM( DETADOC.PrecUnit* detadoc.Cantidad  ) AS TotMonto
FROM         CLIENTE INNER JOIN
                      DOCUMENTO ON CLIENTE.Cliente = DOCUMENTO.Cliente INNER JOIN
                      DETADOC ON DOCUMENTO.Documento = DETADOC.Documento AND DOCUMENTO.TipoDoc = DETADOC.TipoDoc INNER JOIN
                      PRODUCTO ON DETADOC.Producto = PRODUCTO.Producto
GROUP BY CLIENTE.Cliente, CLIENTE.Zona, CLIENTE.Nombre, 
CLIENTE.TipoCliente, DOCUMENTO.Fecha, DOCUMENTO.pagado, 
DOCUMENTO.Personal, PRODUCTO.Producto, PRODUCTO.Marca, 
PRODUCTO.Descripcion
GO
/****** Objeto: View [dbo].[v_VentasPrevio] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_VentasPrevio]
as
select anual = YEAR(vd.fecha),
Mes = MONTH(vd.fecha ),
Dia = DAY(vd.fecha),
vd.Cliente, c.Nombre as NomCliente,c.Zona,
vd.Monto , vd.pagado , vd.fecha 
from v_Documento vd INNER JOIN CLIENTE c
ON vd.Cliente = c.Cliente 
GO
/****** Objeto: Table [dbo].[LINEA] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINEA](
	[Linea] [char](2) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[ComiMayor] [numeric](6, 2) NOT NULL,
 CONSTRAINT [PK_LINEA] PRIMARY KEY CLUSTERED 
(
	[Linea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MARCA] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[Marca] [char](2) NOT NULL,
	[Proveedor] [char](4) NOT NULL,
	[Linea] [char](2) NOT NULL,
	[Descripcion] [varchar](48) NOT NULL,
	[idLinea] [char](2) NULL,
	[idSubLinea] [char](2) NULL,
 CONSTRAINT [PK_MARCA] PRIMARY KEY CLUSTERED 
(
	[Marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[_Otros] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[_Otros] as
SELECT DISTINCT YEAR(fecha) as anual, MONTH(fecha) as mes , SUM(dd.Cantidad * dd.PrecUnit ) as monto, d.personal,
p.descripcion as prod, m.descripcion as marca, l.descripcion as linea
FROM DOCUMENTO d INNER JOIN DETADOC dd ON Dd.Documento = d.Documento and d.TipoDoc = dd.TipoDoc 
	INNER JOIN producto p ON p.producto = dd.producto
	INNER JOIN marca m ON m.marca = p.marca
	inner join linea l ON l.linea = m.linea
WHERE D.Cliente IS NOT NULL
group by YEAR(fecha), MONTH(fecha) , d.personal, p.descripcion , m.descripcion , l.descripcion 
GO
/****** Objeto: View [dbo].[v_dimTiempo] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_dimTiempo]
AS
SELECT DISTINCT Anual = YEAR(d.Fecha ),
Semestre = DATENAME(yy, d.fecha) +
CASE WHEN DATEPART(MM, d.fecha) <7 THEN '-S1' ELSE '-S2' END,
Trimestre = DATEPART(qq, d.fecha),
Mes = DATENAME(mm, d.fecha),
DiaSemana = DATENAME(dw, d.fecha),
NroMes = DATEPART(mm, d.fecha),
idFecha = CONVERT(char(10), d.Fecha , 103)  -- dd/mm/yyyy, 101:mm/dd/yyyy
FROM DOCUMENTO as d
GO
/****** Objeto: View [dbo].[v_VentasDetalladas] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_VentasDetalladas]
AS
SELECT     DOCUMENTO.Documento, DOCUMENTO.TipoDoc, CLIENTE.Cliente, CLIENTE.Zona, DOCUMENTO.Fecha, DOCUMENTO.Pedido
FROM         CLIENTE INNER JOIN
                      DOCUMENTO ON CLIENTE.Cliente = DOCUMENTO.Cliente
GO
/****** Objeto: Table [dbo].[BANCO] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANCO](
	[idBanco] [char](2) NOT NULL,
	[nombreBanco] [varchar](70) NOT NULL,
 CONSTRAINT [PK_Banco] PRIMARY KEY CLUSTERED 
(
	[idBanco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CIUDAD] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIUDAD](
	[idCiudad] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Ciudad] PRIMARY KEY CLUSTERED 
(
	[idCiudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DETALIQUI] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALIQUI](
	[liquidacion] [char](9) NOT NULL,
	[Documento] [char](9) NOT NULL,
	[TipoDoc] [char](1) NOT NULL,
	[TipoPago] [char](1) NULL,
	[Importe] [decimal](9, 2) NULL,
	[Estado] [char](1) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetalleRequerimiento] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleRequerimiento](
	[Item] [int] NOT NULL,
	[Tipo] [nchar](10) NULL,
	[Descripcion] [char](50) NOT NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DETAPEDIDO] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAPEDIDO](
	[Pedido] [char](9) NOT NULL,
	[Producto] [char](4) NOT NULL,
	[Cantidad] [decimal](9, 2) NOT NULL,
	[PrecUnit] [decimal](9, 2) NOT NULL,
	[FAB] [int] NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FERIADOS] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FERIADOS](
	[fecha] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FORMAPAGO] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMAPAGO](
	[FormaPago] [char](1) NOT NULL,
	[Descripcion] [char](18) NOT NULL,
	[NroDias] [int] NOT NULL,
 CONSTRAINT [PK_FORMAPAGO] PRIMARY KEY CLUSTERED 
(
	[FormaPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[LIQUIDACION] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIQUIDACION](
	[liquidacion] [char](9) NOT NULL,
	[Personal] [char](2) NOT NULL,
	[Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_LIQUIDACION] PRIMARY KEY CLUSTERED 
(
	[liquidacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MEDIOPAGO] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDIOPAGO](
	[idMedioPago] [char](2) NOT NULL,
	[Descripcion] [varchar](70) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_MedioPago] PRIMARY KEY CLUSTERED 
(
	[idMedioPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MetaMarcaPersonal] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetaMarcaPersonal](
	[personal] [char](2) NULL,
	[marca] [char](2) NULL,
	[Anualidad] [int] NULL,
	[Mensualidad] [int] NULL,
	[MontoPresupuesto] [decimal](38, 2) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MetaProductoZona] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetaProductoZona](
	[zona] [char](2) NULL,
	[producto] [char](4) NOT NULL,
	[Anualidad] [int] NULL,
	[Mensualidad] [int] NULL,
	[MontoPresupuesto] [decimal](38, 2) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Metas_Venta] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Metas_Venta](
	[idMeta] [int] NOT NULL,
	[Anual] [int] NOT NULL,
	[Mes] [tinyint] NOT NULL,
	[idSucursal] [char](2) NOT NULL,
	[TipoCliente] [char](1) NOT NULL,
	[MontoProy] [numeric](12, 2) NOT NULL,
 CONSTRAINT [PK_Metas_Venta] PRIMARY KEY CLUSTERED 
(
	[idMeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MetaSectorista] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetaSectorista](
	[personal] [char](2) NULL,
	[Mes] [int] NULL,
	[Anual] [int] NULL,
	[Meta] [decimal](38, 4) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MULTITABLA] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MULTITABLA](
	[Tipo] [char](2) NOT NULL,
	[Valor] [char](3) NOT NULL,
	[Descripcion] [varchar](70) NOT NULL,
 CONSTRAINT [PK_MultiTabla] PRIMARY KEY CLUSTERED 
(
	[Tipo] ASC,
	[Valor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[oferton] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oferton](
	[idOferta] [int] IDENTITY(1,1) NOT NULL,
	[Inicial] [numeric](9, 2) NULL,
	[Final] [numeric](9, 2) NULL,
	[Descuento] [numeric](9, 2) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PARAMETRO] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARAMETRO](
	[Parametro] [int] NOT NULL,
	[Igv] [decimal](8, 2) NOT NULL,
	[TasaInt] [decimal](8, 2) NOT NULL,
	[TasaLegal] [decimal](8, 2) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[TasaDolar] [decimal](9, 2) NOT NULL,
	[activo] [bit] NOT NULL,
	[Vencidos] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PEDIDO] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[Pedido] [char](9) NOT NULL,
	[FormaPago] [char](1) NOT NULL,
	[Personal] [char](2) NOT NULL,
	[Cliente] [char](4) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Estado] [char](1) NOT NULL,
	[idTienda] [char](2) NULL,
 CONSTRAINT [PK_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[Pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PERSONAL] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONAL](
	[Personal] [char](2) NOT NULL,
	[Nombre] [varchar](70) NOT NULL,
	[Telefono] [char](11) NULL,
	[Activo] [bit] NOT NULL,
	[Basico] [decimal](9, 2) NOT NULL,
	[idTienda] [char](2) NOT NULL,
	[fechaNac] [datetime] NULL,
	[Masculino] [bit] NOT NULL,
	[idOficina] [int] NULL,
	[fechaIngre] [datetime] NULL,
	[formato] [char](5) NULL,
	[Email] [varchar](70) NULL,
 CONSTRAINT [PK_PERSONAL] PRIMARY KEY CLUSTERED 
(
	[Personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ProductoUnegocio] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoUnegocio](
	[UNegocio] [char](2) NOT NULL,
	[Producto] [char](4) NOT NULL,
	[Stockac] [decimal](9, 2) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PronosticoClienteMarca] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PronosticoClienteMarca](
	[marca] [char](2) NOT NULL,
	[Anual] [int] NOT NULL,
	[TRIMEStre] [int] NOT NULL,
	[cliente] [char](4) NOT NULL,
	[Monto] [decimal](38, 4) NOT NULL,
	[idPronostico] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PROVEEDOR] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[Proveedor] [char](4) NOT NULL,
	[RazonSocial] [char](18) NOT NULL,
	[Direccion] [varchar](40) NULL,
	[email] [varchar](60) NULL,
	[Ruc] [char](11) NULL,
	[Local] [bit] NOT NULL,
 CONSTRAINT [PK_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PUNTOPAGO] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUNTOPAGO](
	[idPuntoPago] [char](2) NOT NULL,
	[Descripcion] [varchar](70) NOT NULL,
	[Activo] [bit] NOT NULL,
	[idTienda] [char](2) NOT NULL,
 CONSTRAINT [PK_PuntoPago] PRIMARY KEY CLUSTERED 
(
	[idPuntoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Requerimiento] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requerimiento](
	[item] [int] NOT NULL,
	[descripcion] [varchar](70) NULL,
	[Cubo] [varchar](50) NULL,
	[Proyecto] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[SeguimientoX] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeguimientoX](
	[Item] [int] NOT NULL,
	[Tabla] [varchar](80) NULL,
	[Campo] [varchar](80) NULL,
	[ValorActual] [varchar](70) NULL,
	[ValorNuevo] [varchar](70) NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Equipo] [varchar](60) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Aplicacion] [varchar](70) NOT NULL,
	[Codigo] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[sys_documentacion] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_documentacion](
	[Schemax] [nvarchar](128) NOT NULL,
	[Tabla] [nvarchar](128) NOT NULL,
	[Campo] [nvarchar](128) NULL,
	[Columna] [nvarchar](128) NOT NULL,
	[max_length] [smallint] NOT NULL,
	[scale] [tinyint] NOT NULL,
	[precision] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Tienda] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tienda](
	[idTienda] [char](2) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Responsable] [nchar](10) NULL,
	[Region] [int] NOT NULL,
	[idCiudad] [int] NOT NULL,
 CONSTRAINT [PK_Tienda] PRIMARY KEY CLUSTERED 
(
	[idTienda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TIPODOC] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPODOC](
	[TipoDoc] [char](1) NOT NULL,
	[Descripcion] [char](18) NULL,
	[Serie] [char](3) NULL,
	[Numero] [int] NULL,
	[Signo] [smallint] NULL,
	[Unegocio] [char](2) NULL,
 CONSTRAINT [PK_TIPODOC] PRIMARY KEY CLUSTERED 
(
	[TipoDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[UNegocio] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNegocio](
	[UNegocio] [char](2) NOT NULL,
	[Descripcion] [char](50) NOT NULL,
	[Responsable] [char](50) NOT NULL,
	[sysEquipo] [varchar](30) NOT NULL,
	[SysFecha] [datetime] NOT NULL,
	[SysUsuario] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[usuarios] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[VentaMeta] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentaMeta](
	[personal] [char](2) NULL,
	[anual] [int] NULL,
	[Mes] [int] NULL,
	[zona] [char](2) NULL,
	[Monto] [decimal](38, 6) NULL,
	[idcodigo] [int] NOT NULL,
 CONSTRAINT [PK_VentaMeta] PRIMARY KEY CLUSTERED 
(
	[idcodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[VentaMetaY] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentaMetaY](
	[zona] [char](2) NULL,
	[Anual] [int] NULL,
	[Mensual] [int] NULL,
	[MetaVenta] [decimal](38, 4) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ZONA] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZONA](
	[Zona] [char](2) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Ciudad] [varchar](30) NULL,
 CONSTRAINT [PK_ZONA] PRIMARY KEY CLUSTERED 
(
	[Zona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ZonaMarcaTiempo] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZonaMarcaTiempo](
	[zona] [char](2) NULL,
	[linea] [char](2) NULL,
	[Anualidad] [int] NULL,
	[trimestre] [int] NULL,
	[MontoProyectado] [decimal](38, 2) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_Saldo]  DEFAULT ((0)) FOR [Saldo]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_credito]  DEFAULT ((0)) FOR [credito]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_topeCredito]  DEFAULT ((0)) FOR [topeCredito]
GO
ALTER TABLE [dbo].[PERSONAL] ADD  CONSTRAINT [DF_PERSONAL_Basico]  DEFAULT ((0)) FOR [Basico]
GO
ALTER TABLE [dbo].[PERSONAL] ADD  CONSTRAINT [DF_PERSONAL_Genero]  DEFAULT ((1)) FOR [Masculino]
GO
ALTER TABLE [dbo].[PROVEEDOR] ADD  CONSTRAINT [DF_PROVEEDOR_Local]  DEFAULT ((1)) FOR [Local]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_ZONA] FOREIGN KEY([Zona])
REFERENCES [dbo].[ZONA] ([Zona])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_ZONA]
GO
ALTER TABLE [dbo].[CRONOGRAMA]  WITH CHECK ADD  CONSTRAINT [FK_cronograma_Banco] FOREIGN KEY([idBanco])
REFERENCES [dbo].[BANCO] ([idBanco])
GO
ALTER TABLE [dbo].[CRONOGRAMA] CHECK CONSTRAINT [FK_cronograma_Banco]
GO
ALTER TABLE [dbo].[CRONOGRAMA]  WITH CHECK ADD  CONSTRAINT [FK_cronograma_MedioPago] FOREIGN KEY([idMedioPago])
REFERENCES [dbo].[MEDIOPAGO] ([idMedioPago])
GO
ALTER TABLE [dbo].[CRONOGRAMA] CHECK CONSTRAINT [FK_cronograma_MedioPago]
GO
ALTER TABLE [dbo].[CRONOGRAMA]  WITH CHECK ADD  CONSTRAINT [FK_cronograma_PuntoPago] FOREIGN KEY([idPuntoPago])
REFERENCES [dbo].[PUNTOPAGO] ([idPuntoPago])
GO
ALTER TABLE [dbo].[CRONOGRAMA] CHECK CONSTRAINT [FK_cronograma_PuntoPago]
GO
ALTER TABLE [dbo].[DETADOC]  WITH CHECK ADD  CONSTRAINT [FK_DETADOC_DOCUMENTO] FOREIGN KEY([Documento], [TipoDoc])
REFERENCES [dbo].[DOCUMENTO] ([Documento], [TipoDoc])
GO
ALTER TABLE [dbo].[DETADOC] CHECK CONSTRAINT [FK_DETADOC_DOCUMENTO]
GO
ALTER TABLE [dbo].[DETADOC]  WITH CHECK ADD  CONSTRAINT [FK_DETADOC_PRODUCTO] FOREIGN KEY([Producto])
REFERENCES [dbo].[PRODUCTO] ([Producto])
GO
ALTER TABLE [dbo].[DETADOC] CHECK CONSTRAINT [FK_DETADOC_PRODUCTO]
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTO_CLIENTE] FOREIGN KEY([Cliente])
REFERENCES [dbo].[CLIENTE] ([Cliente])
GO
ALTER TABLE [dbo].[DOCUMENTO] CHECK CONSTRAINT [FK_DOCUMENTO_CLIENTE]
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTO_PROVEEDOR] FOREIGN KEY([Proveedor])
REFERENCES [dbo].[PROVEEDOR] ([Proveedor])
GO
ALTER TABLE [dbo].[DOCUMENTO] CHECK CONSTRAINT [FK_DOCUMENTO_PROVEEDOR]
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTO_TIPODOC] FOREIGN KEY([TipoDoc])
REFERENCES [dbo].[TIPODOC] ([TipoDoc])
GO
ALTER TABLE [dbo].[DOCUMENTO] CHECK CONSTRAINT [FK_DOCUMENTO_TIPODOC]
GO
ALTER TABLE [dbo].[MARCA]  WITH CHECK ADD  CONSTRAINT [FK_MARCA_LINEA] FOREIGN KEY([Linea])
REFERENCES [dbo].[LINEA] ([Linea])
GO
ALTER TABLE [dbo].[MARCA] CHECK CONSTRAINT [FK_MARCA_LINEA]
GO
ALTER TABLE [dbo].[MARCA]  WITH CHECK ADD  CONSTRAINT [FK_MARCA_PROVEEDOR] FOREIGN KEY([Proveedor])
REFERENCES [dbo].[PROVEEDOR] ([Proveedor])
GO
ALTER TABLE [dbo].[MARCA] CHECK CONSTRAINT [FK_MARCA_PROVEEDOR]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_FORMAPAGO] FOREIGN KEY([FormaPago])
REFERENCES [dbo].[FORMAPAGO] ([FormaPago])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_FORMAPAGO]
GO
ALTER TABLE [dbo].[PERSONAL]  WITH CHECK ADD  CONSTRAINT [FK_PERSONAL_Tienda] FOREIGN KEY([idTienda])
REFERENCES [dbo].[Tienda] ([idTienda])
GO
ALTER TABLE [dbo].[PERSONAL] CHECK CONSTRAINT [FK_PERSONAL_Tienda]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_MARCA] FOREIGN KEY([Marca])
REFERENCES [dbo].[MARCA] ([Marca])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_MARCA]
GO
ALTER TABLE [dbo].[PUNTOPAGO]  WITH CHECK ADD  CONSTRAINT [FK_PUNTOPAGO_Tienda] FOREIGN KEY([idTienda])
REFERENCES [dbo].[Tienda] ([idTienda])
GO
ALTER TABLE [dbo].[PUNTOPAGO] CHECK CONSTRAINT [FK_PUNTOPAGO_Tienda]
GO
ALTER TABLE [dbo].[Tienda]  WITH CHECK ADD  CONSTRAINT [FK_Tienda_Ciudad] FOREIGN KEY([idCiudad])
REFERENCES [dbo].[CIUDAD] ([idCiudad])
GO
ALTER TABLE [dbo].[Tienda] CHECK CONSTRAINT [FK_Tienda_Ciudad]
GO
ALTER TABLE [dbo].[VentaMeta]  WITH CHECK ADD  CONSTRAINT [FK_VentaMeta_ZONA] FOREIGN KEY([zona])
REFERENCES [dbo].[ZONA] ([Zona])
GO
ALTER TABLE [dbo].[VentaMeta] CHECK CONSTRAINT [FK_VentaMeta_ZONA]
GO
/****** Objeto: StoredProcedure [dbo].[GeneraCrono] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GeneraCrono]
    @documento VARCHAR(20),
    @tipodoc CHAR(1),
    @NroCuotas SMALLINT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @totalDeuda DECIMAL(18,2);
    DECLARE @cuotaBase DECIMAL(18,2);
    DECLARE @igv DECIMAL(9,2);
    DECLARE @tasaInteres DECIMAL(9,2);
    DECLARE @fechaInicio DATETIME;
    DECLARE @contador INT;
    DECLARE @importeCuota DECIMAL(18,2);
    DECLARE @interesCuota DECIMAL(18,2);
    DECLARE @igvInteres DECIMAL(18,2);
    DECLARE @fechaVence DATETIME;
    
    -- 1. Validar que el documento existe
    IF NOT EXISTS (
        SELECT 1 FROM documento 
        WHERE Documento = @documento AND TipoDoc = @tipodoc
    )
    BEGIN
        RAISERROR('El documento ingresado no existe', 16, 1);
        RETURN;
    END
    
    -- 2. Validar que no tenga cronograma previo
    IF EXISTS (
        SELECT 1 FROM cronograma 
        WHERE Documento = @documento AND TipoDoc = @tipodoc
    )
    BEGIN
        RAISERROR('El cronograma ya fue generado para este documento', 16, 1);
        RETURN;
    END
    
    -- 3. Validar número de cuotas (1-36)
    IF @NroCuotas < 1 OR @NroCuotas > 36
    BEGIN
        RAISERROR('El número de cuotas debe estar entre 1 y 36', 16, 1);
        RETURN;
    END
    
    -- 4. Obtener parámetros activos
    SELECT TOP 1 
        @igv = Igv, 
        @tasaInteres = TasaInt
    FROM parametro 
    WHERE activo = 1 
    ORDER BY Parametro DESC;
    
    IF @igv IS NULL OR @tasaInteres IS NULL
    BEGIN
        RAISERROR('No existen parámetros activos en el sistema', 16, 1);
        RETURN;
    END
    
    -- 5. Calcular total de deuda desde detadoc
    SELECT @totalDeuda = SUM(Cantidad * PrecUnit)
    FROM detadoc
    WHERE Documento = @documento AND TipoDoc = @tipodoc;
    
    IF @totalDeuda IS NULL OR @totalDeuda = 0
    BEGIN
        RAISERROR('El documento no tiene deuda asociada', 16, 1);
        RETURN;
    END
    
    -- 6. Calcular cuota base (sin interés)
    SET @cuotaBase = @totalDeuda / @NroCuotas;
    
    -- 7. Generar cronograma
    SET @contador = 1;
    SET @fechaInicio = GETDATE();
    
    WHILE @contador <= @NroCuotas
    BEGIN
        -- Calcular fecha de vencimiento (mensual)
        SET @fechaVence = DATEADD(MONTH, @contador, @fechaInicio);
        
        -- Calcular interés de la cuota
        SET @interesCuota = @cuotaBase * (@tasaInteres / 100);
        
        -- Calcular IGV del interés
        SET @igvInteres = @interesCuota * (@igv / 100);
        
        -- Importe de la cuota (base)
        SET @importeCuota = @cuotaBase;
        
        -- Insertar cuota en cronograma
        INSERT INTO cronograma (
            NroCuota, 
            Documento, 
            TipoDoc, 
            Importe, 
            Interes, 
            IgvInteres, 
            feVence, 
            Fepago, 
            estado,
            idMedioPago,
            idPuntoPago,
            idBanco
        )
        VALUES (
            @contador,
            @documento,
            @tipodoc,
            @importeCuota,
            @interesCuota,
            @igvInteres,
            @fechaVence,
            NULL,           -- Fepago se actualiza al pagar
            'p',            -- p = pendiente
            NULL,           -- idMedioPago
            NULL,           -- idPuntoPago
            NULL            -- idBanco
        );
        
        SET @contador = @contador + 1;
    END
    
    -- 8. Retornar el cronograma generado
    SELECT 
        NroCuota, 
        Importe, 
        Interes, 
        IgvInteres, 
        Importe + Interes + IgvInteres AS ValorCuota, 
        feVence,
        estado
    FROM cronograma
    WHERE Documento = @documento AND TipoDoc = @tipodoc
    ORDER BY NroCuota;
    
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_PagoTotalConMora] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_PagoTotalConMora]
    @Cliente VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH MontosPorDoc AS (
        SELECT 
            d.Documento,
            d.TipoDoc,
            d.Fecha,
            d.Cliente,
            SUM(dd.Cantidad * dd.PrecUnit) AS MontoDeuda
        FROM DOCUMENTO d
        INNER JOIN DETADOC dd 
            ON dd.Documento = d.Documento 
           AND dd.TipoDoc = d.TipoDoc
        WHERE d.Estado = 'P'
          AND d.Cliente = @Cliente
        GROUP BY d.Documento, d.TipoDoc, d.Fecha, d.Cliente
    ),
    Calculado AS (
        SELECT
            m.Documento,
            c.Nombre                                   AS NombreCliente,
            m.Fecha                                     AS FechaDocumento,
            o.Descuento                                  AS TasaOferton,
            CASE WHEN c.Ruc IS NULL OR c.Ruc = '' THEN 0.06 ELSE 0.04 END AS TasaRUC,
            m.MontoDeuda,
            CAST(o.Descuento * m.MontoDeuda AS numeric(9,2)) AS D1,
            CAST((CASE WHEN c.Ruc IS NULL OR c.Ruc = '' THEN 0.06 ELSE 0.04 END) 
                 * m.MontoDeuda AS numeric(9,2))            AS D2
        FROM MontosPorDoc m
        INNER JOIN CLIENTE c ON c.Cliente = m.Cliente
        INNER JOIN oferton o 
            ON m.MontoDeuda >= o.Inicial AND m.MontoDeuda < o.Final
    )
    SELECT 
        CAST(Documento AS varchar(20)) AS Documento,
        NombreCliente,
        FechaDocumento,
        TasaOferton,
        TasaRUC,
        MontoDeuda,
        D1,
        D2,
        MontoDeuda - D1 - D2 AS MontoAPagar
    FROM Calculado

    UNION ALL

    SELECT 
        'TOTAL', NULL, NULL, NULL, NULL,
        SUM(MontoDeuda), SUM(D1), SUM(D2),
        SUM(MontoDeuda - D1 - D2)
    FROM Calculado;
END
GO
/****** Objeto: StoredProcedure [dbo].[ven_AnalisisVenta] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ven_AnalisisVenta]
@Anual int, @Mes tinyint
AS
SELECT YEAR(fecha) AS Anual, MONTH(fECHA) as Mes,
DAY(FECHA) AS Dia, CLIENTE, ZONA, nombre AS CliNombre,
fecha, pagado, PERSONAL, MARCA, descripcion as NomProducto,
totcantidad, totMonto
FROM V_VENTAS 
WHERE YEAR(fecha) = @Anual AND MONTH(fecha) =@Mes 
GO
/****** Objeto: StoredProcedure [dbo].[Ven_GeneraKardex] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Ven_GeneraKardex]
@idproducto CHAR(4)
AS
DECLARE @stock numeric(9,2)
SET @stock =0 --- Preparar datos a procesar
SELECT d.Documento, d.TipoDoc, d.Fecha, dd.Cantidad, @stock as Stock, TD.Signo 
INTO #Kardex
FROM DOCUMENTO as d INNER JOIN DETADOC as dd
 ON d.Documento = dd.Documento and dd.TipoDoc = d.TipoDoc 
INNER JOIN TIPODOC as td ON td.TipoDoc = d.TipoDoc  
WHERE PRODUCTO = @idproducto  and YEAR(FECHA) = 2003
ORDER BY Fecha, Signo  desc 
--- Trabajar con Cursor  ( se crea a partir de una orden SELECT-->proceso secuencial)
 DECLARE c_kardex CURSOR FOR        -- declarar cursor
SELECT documento, tipodoc, fecha, cantidad, signo FROM #kardex 
ORDER BY fecha, signo desc
OPEN c_kardex
DECLARE @doc char(9),@tdoc char(1), @fecha datetime,@signo int,@can numeric(9,2)
FETCH c_kardex INTO @doc, @tdoc, @fecha, @can, @signo --- leer, procesar
WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @stock = @stock + @can * @signo 
		UPDATE #Kardex SET Stock = @stock WHERE DOCUMENTO =@doc
			AND TIPODOC = @tdoc 
		FETCH c_kardex INTO @doc, @tdoc, @fecha, @can, @signo --- leer, procesar			
		PRINT @STOCK
		PRINT @DOC
	END
CLOSE c_kardex
SELECT * FROM #Kardex order by Fecha, signo desc
DEALLOCATE c_kardex
GO
/****** Objeto: StoredProcedure [dbo].[Ven_GenerarCronograma] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Ven_GenerarCronograma]
@doc char(9), @tdoc CHAR(1), @Cuotas smallint
AS
-- Leer parametros de igv y de interes
DECLARE @igv numeric(9,2),@tasai numeric(9,2), @deuda numeric(10,2),@cta int
set @deuda = 0
SELECT @igv =Igv/100, @tasai = TasaInt/100  
FROM PARAMETRO WHERE activo = 1
IF @igv IS NULL OR @tasai IS NULL
	BEGIN
		RAISERROR('No existen parametros..' , 16, -1)
		RETURN
	END  -- Calcular Monto Deuda
SELECT @deuda = SUM(cantidad* Precunit) FROM DETADOC 
where DOCUMENTO = @doc and TIPODOC = @tdoc 
SET @cta = 0
WHILE @cta < @Cuotas
	BEGIN
		SET @cta = @cta + 1
		INSERT INTO cronograma (NroCuota, Documento, TipoDoc, Importe, Interes,
		IgvInteres , feVence, estado  ) VALUES (@cta,@doc, @tdoc,@deuda /@Cuotas,
		@tasai * @deuda /@Cuotas, @igv * @tasai * @deuda /@Cuotas,
		DATEADD(mm, @cta, GETDATE() ) , 'p')
	END
--SELECT NroCuota, ValorCuota =Importe+ Interes+ IgvInteres , feVence 
 --from cronograma where DOCUMENTO = @doc and TIPODOC = @tdoc 
GO
/****** Objeto: StoredProcedure [dbo].[ven_Indicador_Venta] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ven_Indicador_Venta]
@Anual int
AS
select Anual = YEAR(fecha), Mes = MONTH(fecha), SUM(Monto) as Monto
INTO #VentaReal
from v_Documento 
WHERE YEAR(FECHA) = @Anual 
group by YEAR(fecha), MONTH(fecha)

SELECT mv.anual , mv.Mes , SUM(isnull(mv.Monto,0)) As MetaVenta,
case when vr.Monto is null then 0 else VR.Monto  END AS VentaReal
FROM VentaMeta mv LEFT JOIN #VentaReal vr 
   ON mv.anual = vr.anual AND mv.Mes = vr.Mes 
WHERE mv.anual = @Anual 
group by mv.anual , mv.Mes , vr.Monto 
GO
/****** Objeto: StoredProcedure [dbo].[ven_Indicador_Venta_P] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ven_Indicador_Venta_P]
@Anual int
AS
select Anual = YEAR(fecha), Mes = MONTH(fecha), SUM(Monto) as Monto,
PERSONAL 
INTO #VentaReal
from v_Documento 
WHERE YEAR(FECHA) = @Anual 
group by YEAR(fecha), MONTH(fecha), PERSONAL 

SELECT mv.anual , mv.Mes , SUM(mv.Monto) As MetaVenta,
vr.Monto AS VentaReal, MV.personal 
FROM VentaMeta mv LEFT JOIN #VentaReal vr 
   ON mv.anual = vr.anual AND mv.Mes = vr.Mes and vr.Personal = mv.personal 
WHERE mv.anual = @Anual 
group by mv.anual , mv.Mes , vr.Monto , MV.personal 
GO
/****** Objeto: StoredProcedure [dbo].[Ven_Indicadores] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Ven_Indicadores]
@Anual int
AS
select Anual = YEAR(fecha),
Mes = MONTH(fecha),
Monto , Pagado
from v_Documento 
WHERE YEAR(FECHA) = @Anual 
GO
/****** Objeto: StoredProcedure [dbo].[Ven_ReporteDocumento] Fecha de script: 5/07/2026 09:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Ven_ReporteDocumento]
@fecha1 datetime,
@fecha2 datetime,
@estado CHAR(1)='C',
@personal CHAR(2)
AS

SELECT * FROM DOCUMENTO
WHERE Fecha >=@fecha1  AND Fecha<@fecha2 + 1
   AND Estado = @estado AND PERSONAL = @personal 
GO
